{"filter":false,"title":"simple_topic_publisher_launch_file.launch","tooltip":"/simple_topic_publisher_package/launch/simple_topic_publisher_launch_file.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":3,"column":9},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1529379744000,"hash":"798fcf9e78befc3d4d31dbca04d0d199051861a2"}